body{
	background:url(../img/stardust.png);
	
	}
.img-circle {
	border-radius: 50%;
	border:5px solid #46424a;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto
}

.center{
text-align:center;
	}
.right{
text-align:right;
	}
h1{
	color:#fff;
	font-size:16px;
	
	}
h3{
	color:#76b5e2;
	font-size:12px;
	
	
	
	}


.arrow_box1 {
	position: relative;
	
}
.arrow_box1:after {
	
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(39, 62, 80, 0);
	border-bottom-color: #273e50;
	border-width: 15px;
	margin-left: -15px;
}
.smallwhitehead{
	color:#fff;
	font-size:20px;
	text-align:center !important;
	
	font-weight:normal;
	padding:5px;
	
	}
	
.tablink{
	
	background-color:#403c43;
	text-decoration:none;
	color:#fff;
	text-align:left;
	border:0px;
	}
.tabname{
	font-size:15px;
	
	}
	
.headercontent{
	color:#fff;
	font-size:14px;
	padding:10px;
	text-align:center !important;
	
	}
	
.headercontent{
	color:#fff;
	font-size:14px;
	padding:10px;
	text-align:center;
	margin-top:10px;
	
	}
	
#strip{
	
	opacity:0.5;	
	
	}
	
.floating-box {
    float: left;
	height:30px;
}
.after-box {
    clear: left;
   }

.middbackground{
	color:#959293;
	margin-top:20px;
	padding:5px;
	font-size:13px;
	line-height:20px;
	
	
	}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto
}

h1{
	font-size:20px;
	
}
h2{
	font-size:16px;
	line-height:20px;
	color:#fff;
	font-weight:normal;

	
	}

#facebookpopup{
	background-color:#231f20;
	}
	
#facebookpopup h3{
	font-size:23px;


	}
	
	
.update-nag{
  display: inline-block;
  font-size: 14px;
  text-align: left;
  background-color: #3d363e;
  height: 40px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  margin-bottom: 10px;
}

.update-nag:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

.update-nag > .update-split{
  background: #337ab7;
  width: 33px;
  float: left;
  color: #fff!important;
  height: 100%;
  text-align: center;
  font-size:22px;
  padding-top:10px;
}

.update-nag > .update-split > .glyphicon{
  position:relative;
  top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
  
}
.update-nag > .update-split.update-success{
  background: #5cb85c!important;
  font-size:22px;
  padding-top:10px;
}

.update-nag > .update-split.update-danger{
  background: #d9534f!important;
  font-size:22px;
  padding-top:10px;
}

.update-nag > .update-split.update-info{
  background: #5bc0de!important;
  font-size:22px;
  padding-top:10px;
}



.update-nag > .update-text{
  line-height: 19px;
  padding-top: 11px;
  padding-left: 45px;

}


/***** MAGIC LINE  *******/


#page1, #page2, #page3, #page4, #page5, #page6{
	top:33px;
	color:#000;
	bottom:-83px;
	overflow-y:scroll;
	border:0px solid #fff;
	z-index:-1;
	height:80%;
	padding:10px;
	background-image:url(../img/village-bg.png);
    background-position:center center;
    background-attachment:scroll;
    background-size:cover;

	
	
	
}


   .nav-wrap { background-color:#293448; position:fixed; width:100%;
height:50px; z-index:1000px;
-moz-box-shadow: 0px 1px 1px #232e41;
-webkit-box-shadow: 0px 1px 1px #232e41;
box-shadow-bottom: 2px #232e41;
color:#fff; }
#example-one { 
    height:50px;
    margin: 0 auto; 
    list-style: none; 
    position: relative; 
 }
#example-one li { display: inline-block; }
#example-one li a { 
    color: #bbb; 
    font-size: 14px; 
    display: block; 
    float: left; 
      text-decoration: none; 
    text-transform: uppercase; 
}
#example-one li a:hover { color: white; }
#magic-line { 
    position: absolute; 
    bottom: -2px; 
    left: 0; 
    width: 100px; 
    height: 3px; 
    background: #02070f; 
}


