body{
	background:url(../images/stardust.png);
	
	}
.img-circle {
	border-radius: 50%;
	border:5px solid #46424a;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto
}

.center{
text-align:center;
	}
.right{
text-align:right;
	}
h1{
	color:#fff;
	font-size:20px;
	
	}
h3{
	color:#76b5e2;
	font-size:11px;
	margin-top:-10px;
	
	}
	
.arrow_box1 {
	position: relative;
	
}
.arrow_box1:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(39, 62, 80, 0);
	border-bottom-color: #273e50;
	border-width: 15px;
	margin-left: -15px;
}
.smallwhitehead{
	color:#fff;
	font-size:20px;
	text-align:center !important;
	
	font-weight:normal;
	padding:5px;
	
	}
	
.tablink{
	padding:20px;
	line-height:10px;
	background-color:#403c43;
	text-decoration:none;
	color:#fff;
	text-align:left;
	height:70px;
	border:0px;
	
	
	}
	
#strip{
	
	opacity:0.5;	
	
	}
	
.floating-box {
    float: left;
	height:30px;
}
.after-box {
    clear: left;
   }

.middbackground{
	color:#959293;
	margin-top:-15px;
	padding:5px;
	font-size:12px;
	line-height:15px;
	
	
	}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto
}

h1{
	font-size:20px;
	
	}
