body{
	background:url(../img/stardust.png);
	
	}
.img-circle {
	border-radius: 50%;
	border:11px solid #4aa6ec;
	

	}
	
.kushimgborder{
	z-index:1000;
	margin-top:-50px;
	
	
	}

.imgcolor{
	
	height:200px;
	border-radius:4px;
	margin-top:50px;
	z-index:-1;
	background:url(../img/grassbg.png);
	background-repeat:no-repeat;
	background-size:cover;

	}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto
}

.center{
text-align:center;
	}
.right{
text-align:right;
	}
h1{
	color:#633375;
	font-size:16px;
	text-align:center !important;
	font-weight:normal;
	
	}
h3{
	color:#000000;
	font-size:12px;
	text-align:center !important;
	margin-top:-12px;
	font-weight:normal;
	
	
	}


.skillsbox{
	background-color:#c1dd01;
	border-radius:4px;
	height:60px;
	top:5px;
	text-decoration:none;
	background:url(../img/skillboxbg.png);
	color:#000000;
	text-align:left;
	border:0px;
	
	}
.skillsboxtab{
	background-color:#c1dd01;
	border-radius:4px;
	height:60px;
	top:14px;
	text-decoration:none;
	background:url(../img/skillboxbg.png);
	color:#000000;
	text-align:left;
	border:0px;
	
	}

.aboutbox{
	background-color:#8fa401;
	border-radius:4px;
	height:60px;
	top:6px;
	text-decoration:none;
	background:url(../img/aboutboxbg.png);
	color:#000000;
	text-align:left;
	border:0px;
	
	}
	
.aboutboxtab{
	background-color:#8fa401;
	border-radius:4px;
	height:60px;
	top:14px;
	text-decoration:none;
	background:url(../img/aboutboxbg.png);
	color:#000000;
	text-align:left;
	border:0px;
	}
	
.portfoliobox{
	background-color:#d6e186;
	border-radius:4px;
	height:60px;
	top:8px;
	text-decoration:none;
	background:url(../img/portfolioboxbg.png);
	color:#000000;
	text-align:left;
	border:0px;
	}
	
.portfolioboxtab{
	background-color:#d6e186;
	border-radius:4px;
	height:60px;
	top:15px;
	text-decoration:none;
	background:url(../img/portfolioboxbg.png);
	color:#000000;
	text-align:left;
	border:0px;
	}
.contactbox{
	background-color:#352035;
	border-radius:4px;
	height:60px;
	top:9px;
	text-decoration:none;
	background:url(../img/contactboxbg.png);
	color:#b098b0;
	text-align:left;
	border:0px;
	}
	
.contactboxtab{
	background-color:#352035;
	border-radius:4px;
	height:60px;
	top:14px;
	text-decoration:none;
	background:url(../img/contactboxbg.png);
	color:#b098b0;
	text-align:left;
	border:0px;
	}
.tabname{
	font-size:22px;
	font-weight:normal;
}

.smalltext{
	font-size:13px;
	font-weight:normal;
	color:#a3bb01;
	}
.arrow_box1 {
	position: relative;
	
}
.arrow_box1:after {
	
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(39, 62, 80, 0);
	border-bottom-color: #273e50;
	border-width: 15px;
	margin-left: -15px;
}
.smallwhitehead{
	color:#fff;
	font-size:20px;
	text-align:center !important;
	
	font-weight:normal;
	padding:5px;
	
	}
	
.tablink{
	
	background-color:#403c43;
	text-decoration:none;
	color:#fff;
	text-align:left;
	border:0px;
	}
	
.headercontent{
	color:#fff;
	font-size:14px;
	padding:10px;
	text-align:center !important;
	
	}
	
.headercontent{
	color:#fff;
	font-size:14px;
	padding:10px;
	text-align:center;
	margin-top:10px;
	
	}
	
#strip{
	
	opacity:0.5;	
	
	}
	
.floating-box {
    float: left;
	height:30px;
}
.after-box {
    clear: left;
   }

.middbackground{
	color:#959293;
	margin-top:20px;
	padding:5px;
	font-size:13px;
	line-height:20px;
	
	
	}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto
}

h1{
	font-size:20px;
	
}


#facebookpopup{
	background-color:#231f20;
	}
	
#facebookpopup h3{
	font-size:23px;


	}
	
	
.update-nag{
  display: inline-block;
  font-size: 14px;
  text-align: left;
  background-color: #3d363e;
  height: 40px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  margin-bottom: 10px;
}

.update-nag:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

.update-nag > .update-split{
  background: #337ab7;
  width: 33px;
  float: left;
  color: #fff!important;
  height: 100%;
  text-align: center;
  font-size:22px;
  padding-top:10px;
}

.update-nag > .update-split > .glyphicon{
  position:relative;
  top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
  
}
.update-nag > .update-split.update-success{
  background: #5cb85c!important;
  font-size:22px;
  padding-top:10px;
}

.update-nag > .update-split.update-danger{
  background: #d9534f!important;
  font-size:22px;
  padding-top:10px;
}

.update-nag > .update-split.update-info{
  background: #5bc0de!important;
  font-size:22px;
  padding-top:10px;
}

.update-nag > .update-text{
  line-height: 19px;
  padding-top: 11px;
  padding-left: 45px;

}


/***** MAGIC LINE  *******/


#page1, #page2, #page3, #page4, #page5, #page6{
	top:33px;
	color:#000;
	bottom:-83px;
	overflow-y:scroll;
	border:0px solid #fff;
	z-index:-1;
	height:80%;
	padding:10px;
	background-image:url(../img/village-bg.png);
    background-position:center center;
    background-attachment:scroll;
    background-size:cover;

	
	
	
}


   .nav-wrap { background-color:#293448; position:fixed; width:100%;
height:50px; z-index:1000px;
-moz-box-shadow: 0px 1px 1px #232e41;
-webkit-box-shadow: 0px 1px 1px #232e41;
box-shadow-bottom: 2px #232e41;
color:#fff; }
#example-one { 
    height:50px;
    margin: 0 auto; 
    list-style: none; 
    position: relative; 
 }
#example-one li { display: inline-block; }
#example-one li a { 
    color: #bbb; 
    font-size: 14px; 
    display: block; 
    float: left; 
      text-decoration: none; 
    text-transform: uppercase; 
}
#example-one li a:hover { color: white; }
#magic-line { 
    position: absolute; 
    bottom: -2px; 
    left: 0; 
    width: 100px; 
    height: 3px; 
    background: #02070f; 
}


/****** CSS Down Arrow*****/


.arrow_box {
	position: relative;
	background: #;
	border: 0px solid #c1dd01;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box:before {
	border-color: rgba(193, 221, 1, 0);
	border-top-color: #c1dd01;
	border-width: 21px;
	margin-left: -21px;
}


.arrow_box_aboutme {
	position: relative;
	background: #;
	border: 0px solid #8fa401;
}
.arrow_box_aboutme:after, .arrow_box_aboutme:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_aboutme:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box_aboutme:before {
	border-color: rgba(193, 221, 1, 0);
	border-top-color: #8fa401;
	border-width: 21px;
	margin-left: -21px;
}

.arrow_box_contactme {
	position: relative;
	background: #;
	border: 0px solid #352035;
}
.arrow_box_contactme:after, .arrow_box_contactme:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_contactme:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box_contactme:before {
	border-color: rgba(193, 221, 1, 0);
	border-top-color: #352035;
	border-width: 21px;
	margin-left: -21px;
}




.arrow_box_portfolio {
	position: relative;
	background: #;
	border: 0px solid #d4e085;
}
.arrow_box_portfolio:after, .arrow_box_portfolio:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_portfolio:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box_portfolio:before {
	border-color: rgba(193, 221, 1, 0);
	border-top-color: #d4e085;
	border-width: 21px;
	margin-left: -21px;
}
